/* Styles for digital portfolio components */
.large-menu {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; /* vertically centers if needed */
  padding: 10px 1rem;
  flex-direction: row;
}

.hamburger-button {
  display: none;
}

.dropdown-menu {
  display: none;
}

.large-menu-home-button {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 0 0 20px;
}

.large-menu-project-button-group {
  display: flex;
  margin: 0;
  gap: 2rem; /* spacing between the project buttons */
  text-align: center;
  font-size: 0.7em;
}

.large-menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 90px;
}

.large-menu-icon {
  width: 70px;
  margin-bottom: 0.25rem;
  height: 70px;
}

.project-icon-row {
  display: flex;
  margin: 0;
  gap: 4rem;
  text-align: center;
  font-size: 0.7em;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about {
  padding: 20px 3em;
  max-width: 500px;
  margin: 0 auto;
}

.avatar {
  width: 180px;
}

.centered-row {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.headline-desc-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headline {
  font-size: 30px;
  font-weight: bold;
  color: var(--med-blue);
  text-align: center;
}

.desc {
  font-size: 20px;
  color: var(--dark-blue);
  text-align: center;
}

.long-desc {
  margin-top: 35px;
  font-size: 15px;
  color: var(--dark-blue);
  text-align: center;
}

.repeat-horiz-background {
  background-repeat: repeat-x;
  background-position: bottom; 
  margin: 0px;
  padding: 0;
}

.repeat-horiz-background-small {
  background-size: 250px;
  height: 45px; 
}

.repeat-horiz-background-large {
  background-size: 650px;
  height: 150px; 
}

.repeat-horiz-background-sand {
  height: 140px; 
}

.breadcrumbs {
  margin: 10px 0 0 20px;
  font-size: 12px;
}

.featured-projects-section {
  background-color: var(--dark-blue);
  margin: 0;
  color: white;
  padding: 20px;
}

.featured-projects-section h2 {
  margin-bottom: 40px;
}

.topic-page-title {
  margin: 40px 0;
  color: var(--dark-blue);
}


.project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 10px; /* optional, for spacing around the group */
}

.project-card {
  min-height: 280px;
  width: 220px;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  flex: 0 0 auto;
  text-align: center;
}

.project-card h3 {
  text-align: center;
  font-size: 24px;
  
}

.project-card p {
  margin: 10px 0 0 0;
}

.project-card ul {
  margin: 0;
  text-align: left;
}

.project-card-icon-svg {
  width: 180px;
}

.project-card-icon {
  width: 180px;
  padding: 20px 0;
}

.contact-form-area {
  width: 100%;
  padding: 20px 0;
  background-color: var(--sand);
  color: var(--dark-blue);
}

.contact-form-area p {
  text-align: center;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  margin: 10px 0;
  align-items: center;
}

.form-text-area input {
  border: none;
  height: 30px;
  width: 250px;
}

.form-text-area textarea {
  border: none;
  height: 200px;
  width: 538px;
  margin: 0;
}

.form-text-area label {
  font-size: 12px;
}

form button {
  border: none;
  color: var(--dark-blue);
  background-color: white;
  border-radius: 50px;
  padding: 10px;
}

.footer {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; /* vertically centers if needed */
  padding: 10px 1rem;
  flex-direction: row;
}

.footer p {
  font-size: 10px;
}

.footer-button-group {
  display: flex;
  margin: 0;
  gap: 2rem; /* spacing between the project buttons */
  text-align: center;
  font-size: 0.7em;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.tech-stack-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
.project-card-tech-stack-row {
  justify-content: center;
}

.project-card-tech-stack-row svg {
  width: 40px;
  height: 40px;
}

@media (max-width: 600px) {
  .centered-row {
    gap: 0;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin: 0;
    align-items: center;
  }

  .form-text-area textarea {
    width: 250px;
    margin: 15px 0;
}
  
}

@media (max-width: 500px) {
  .large-menu-project-button-group {
    display: none;
  }
  .hamburger-button {
    display: inline;
    border: none;
    /* background-color: white; */
    padding: 0;
    width: 30px;
    height: 30px;
    color: none;
  }

  .hamburger-icon {
    width: 30px;
    height: 30px;
  }

  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 0px;
    width: 150px;
    display: inline;
  }

  .dropdown-menu-contents {
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
    color: white;
    border-radius: 5px;
  }

  .dropdown-menu-contents li {
    list-style: none;
    
    padding: 10px;
    text-align: center;
  }

  .dropdown-menu-contents li:not(:last-child) {
    border-bottom: 0.5px solid var(--med-blue);
  }

  .dropdown-menu-contents a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: var(--dark-blue);
  }

  .dropdown-menu-button {
    color: white;
    
  }

  .dropdown-menu-icon {
    width: 40px;
    height: 40px;
  }
  
  .dropdown-menu-close-button {
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 2;
    border: none;
    background-color: var(--dark-blue);
    color: white;
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .centered-row {
    flex-direction: column;
  }

  .project-icon-row {
    flex-direction: column;
    gap: 2em;
  }
  
  .footer-button-group {
    gap: 1rem; /* spacing between the project buttons */
  }
  
  .footer-icon {
    width: 30px;
    height: 30px;
  }
}

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/