/* Styles for digital portfolio components */
.large-menu {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; /* vertically centers if needed */
  padding: 10px 1rem;
  flex-direction: row;

}

.large-menu-home-button {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--dark_blue);
  margin: 0 0 0 20px;
}

.large-menu-project-button-group {
  display: flex;
  margin: 0;
  gap: 2rem; /* spacing between the project buttons */
  text-align: center;
  font-size: 0.7em;
}

.large-menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 90px;
}

.large-menu-icon {
  width: 70px;
  margin-bottom: 0.25rem;
  height: 70px;
}

.white {
  color: white;
  fill: currentColor;
}

.dark-blue {
  color: var(--dark_blue);
  fill: currentColor;
}

.project-icon-row {
  display: flex;
  margin: 0;
  gap: 5rem; /* spacing between the project buttons */
  text-align: center;
  font-size: 0.7em;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.about {
  padding: 20px 3em;
  max-width: 500px;
  margin: 0 auto;
}

.avatar {
  width: 180px;
}

.centered-row {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}

.headline-desc-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headline {
  font-size: 30px;
  font-weight: bold;
  color: var(--med_blue);
  text-align: center;
}

.desc {
  font-size: 20px;
  color: var(--dark_blue);
  text-align: center;
}

.long-desc {
  margin-top: 35px;
  font-size: 15px;
  color: var(--dark_blue);
  text-align: center;
}

.wave-background {
  height: 150px; 
  background-repeat: repeat-x;
  background-position: bottom; 
  margin: 0px;
  padding: 0;
  background-size: 650px; 
}

.breadcrumbs {
  margin: 0 0 0 40px;
}

.breadcrumbs a {
  color: var(--dark_blue);
}

.featured-projects-section {
  background-color: var(--dark_blue);
  margin: 0;
  color: white;
  padding: 20px;
}

.featured-projects-section h2 {
  margin-bottom: 40px;
}

.topic-page-title {
  margin: 40px 0;
  color: var(--dark_blue);
}


.project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 10px; /* optional, for spacing around the group */
}

.project-card {
  min-height: 280px;
  width: 200px;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  flex: 0 0 auto; 
}


.project-card-white, .project-card-white a {
  background-color: white;
  color: var(--med_blue);
}

.project-card-blue, .project-card-blue a {
  background-color: var(--dark_blue);
  color: white;
}

.project-card p {
  margin: 10px 0 0 0;
}

.project-card ul {
  margin: 0;
}

.white-icon {
  color: white;
  fill: currentColor;
}

.blue-icon {
  color: var(--med_blue);
  fill: currentColor;
}


.project-card-icon {
  width: 180px;
}

.contact-form-area {
  width: 100%;
  padding: 20px 0;
  /*display: flex;
  justify-content: center;
  gap: 2em; */
  background-color: var(--sand);
  color: var(--dark_blue);
}

.contact-form-area p {
  text-align: center;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  margin: 10px 0;
}

.form-text-area input {
  border: none;
  height: 30px;
  width: 250px;
}

.form-text-area textarea {
  border: none;
  height: 200px;
  width: 538px;
}

.form-text-area label {
  font-size: 12px;
}

form button {
  border: none;
  color: var(--dark_blue);
  background-color: white;
  border-radius: 50px;
  padding: 10px;
}


/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/